body {
    font-family: arial, sans-serif;
    /*background-color: #f2f2f4;*/
}

.table {
    width:100%;
    height:100%;
    border:1px solid #C0C0C0;
    border-collapse:collapse;
}

.table th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}

td {
    border:1px solid #C0C0C0;
    padding: 0;
    padding:5px;
}

.table td ul {
    text-align: center;
    padding: 0;
    list-style-type: none;
}

.table td ul li {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

.loading {
    background-size: cover;
    width: 16px;
    height: 16px;
    background: url('../images/loading.gif');
}

.button {
    color: blue;
}

.button:hover {
    cursor: pointer;
}

.first-col {
    width: 100px;
}