@import url(http://fonts.googleapis.com/css?family=Montserrat);

body{
  font-family: montserrat,Arial,sans-serif;
}

a:hover {
    text-decoration: none;
}

.top{
  width: 100%;
  min-height: 439px;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-header{
  height: 115px;
  width: 100%;
  background-color: transparent;
/*  opacity: 0.5;*/
}

.left-head{
/*  background-color: green;*/
  height: 100%;
}

.mid-head{
/*  background-color: yellow;*/
  height: 100%;
}

.right-head{
/*  background-color: red;*/
  height: 100%;
}

.middle{
  margin-top: 60px;
  width: 840px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;

  
}

.mid-first{
  display: inline-block;
  position: relative;
  background-color: rgba(101,198,187,.6);

  height: 200px;
  width: 200px;
  padding: 0;
}

.mid-first-icon{
  height: 88%;
  width: 88%;
  margin-left: 12%;
  margin-top: 12%;
  display: inline-block;
  position: relative;
  padding: auto;
  background-image: url("../images/railicon.png");
  background-repeat: no-repeat;
}

.mid-second{
  display: inline-block;
  position: absolute;
  background-color: rgba(0,0,0,.6);
  height: 200px;
  width: 640px;
  padding:0;
}

.form-top{
  position: absolute;
  float: right;
  top: 16px;
  width: 100%;

  right: 20px;
}

.steps{

  color: #fff;
  font-size: 14px;
  float: right;
  

}

#pnrcheckform{
  position: relative;
  display: block;
  top:50px;
  width: 585px;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
}

.mid-content{
  width: 100%;
  height: 100%;
}

.details{
  position: absolute;
  display: block;
  width: 485px;
  height: 100%;
}

legend{
  color: rgba(255,255,255,.4);
  border: none;
}

input[type="text"]{
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 36px;
  height: 54px;
  line-height: 54px;
  margin-bottom: 0;
  color: #919bac;
  background: 0 0;
  border-bottom: 1px solid rgba(255,255,255,.4);
}
/*

input[type="text"]:focus {
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
*/

input[type="email"]{
  width: 100%;
  border: none;
  border-radius: 0;
    font-size: 36px;
  height: 54px;
  line-height: 54px;
  margin-bottom: 0;
  color: #919bac;
  background: #fafafa;
  border-bottom: 1px solid rgba(255,255,255,.4);
}

input[type="password"]{
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 36px;
  height: 54px;
  line-height: 54px;
  margin-bottom: 0;
  color: #919bac;
  background: #fafafa;
  border-bottom: 1px solid rgba(255,255,255,.4);
}

.submit{
  top: 60px;
  width: 40px;
  height: 400px;
  position: relative;
  display: inline-block;
  float: right;
}

#loginbox, #signupbox, #forgotpassbox {
    margin-top: 40px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.loginmodal-container {
  padding: 30px;
  min-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: montserrat;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: montserrat;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password], input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: montserrat;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.login-btn {
  text-align:center;
  margin-top: 50px;
}

.button {
  line-height: 55px;
  padding: 0 30px;
  background: #004a80;
  color: #fff;
  display: inline-block;
  font-family: montserrat;
  text-decoration: none;
  font-size: 18px;
}

.button:hover,
.button:visited {
  background: #006cba;
  color: #fff;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
}

.login-link {
    font-size: 22px;
    display: block;
    color: red;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 100px;
}

login-link:hover {
    text-decoration: none;
}

.logo {
    font-size: 22px;
    color: white;
    width: auto;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    margin: 20px;
    
}

.logo a {
    color: white;
}

.logo a:hover {
    text-decoration: none;
}

.features {
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin-top: 28px;
}

.features li {
    font-size: 15px;
    color: green;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
