@import url(http://fonts.googleapis.com/css?family=Montserrat);

body{
  font-family: montserrat,Arial,sans-serif;
}

/*................top part ...................*/
a {
  color: #36d8f4;
}
a:hover {
    text-decoration: none;
}

.top{
  width: 100%;
  height: 75px;
  background-color: #2b3643;
}

.main-header{
  height: 75px;
  width: 100%;
  background-color: transparent;
/*  opacity: 0.5;*/
}

.left-head{
/*  background-color: green;*/
  height: 100%;
}

.mid-head{
/*  background-color: yellow;*/
  height: 100%;
}

.logo {
    font-size: 22px;
    color: white;
    width: auto;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    margin: 20px;
    
}

.logo a {
    color: white;
}

.logo a:hover {
    text-decoration: none;
}

.features {
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin-top: 28px;
}

.features li {
    font-size: 15px;
    color: #36d8f4;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

/*........................*/

/*................ mid part ....................*/

.train-details{
  position: absolute;
  padding: 0;
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  background-color: rgba(255,255,255,0.25);
}

.row{
  display: block;
  margin: 0;
  min-width: 480px;
  padding: 15px 10px;
  box-shadow:0 0px 4px rgba(0,0,0,0.25);
  border-radius: 2px;
  border-bottom: 1px solid rgba(0,0,0,0.35);
}

.searchTitle{
  display: block;
  padding: 0 5px 15px;
  text-align: left;
  color: #666;
  font-size: 16px;
}

.nosearchTitle{
  display: none;
  padding: 0 5px 15px;
  text-align: left;
  color: #666;
  font-size: 16px;
}

input:focus{
  outline: none;
}

.icon-placed{
  top: 8px;
  left: 10px;
  color: #666;
  border-right: 1px solid #eee;
}

.formContainer{
  font-size: 12px;
  
}

.leftform{
  border: 1px solid #d7d7d7;
  box-shadow:0 0px 4px rgba(0,0,0,0.25);
  width:78.85416667%; 
  float: left;
}

.rightform{
  width:19.64583333%;
  float: right;
}

.booking{
  width: 80%;
  height: 33px;
  /*border-radius: 2px;*/
  border:none;
  background-color: #8779f5;
  color: white;
  font-size: 13px;
}

/*.........................train live status results....................................*/

.results{
  background: #fff;
  left: 20px;
  top: 120px;
  width: 480px;
  position: absolute;
  overflow-x:hidden;
  overflow-y:hidden;
  box-shadow: 0 0px 4px rgba(0,0,0,0.25);
  border-bottom:1px solid rgba(0,0,0,0.35);
}