@import url(http://fonts.googleapis.com/css?family=Montserrat);

body{
  font-family: montserrat,Arial,sans-serif;
}

/*................top part ...................*/
a {
  color: #36d8f4;
}

a:hover {
    text-decoration: none;
}

.top{
  width: 100%;
  height: 75px;
  background-color: #2b3643;
}

.main-header{
  height: 75px;
  width: 100%;
  background-color: transparent;
/*  opacity: 0.5;*/
}

.left-head{
/*  background-color: green;*/
  height: 100%;
}

.mid-head{
/*  background-color: yellow;*/
  height: 100%;
}

.logo {
    font-size: 22px;
    color: white;
    width: auto;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    margin: 20px;

}

.logo a {
    color: white;
}

.logo a:hover {
    text-decoration: none;
}

.features {
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin-top: 28px;
}

.features li {
    font-size: 15px;
    color: #36d8f4;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

/*........................*/

/*................ mid part ....................*/

.train-details{
  position: absolute;
  padding: 0;
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  background-color: rgba(255,255,255,0.25);
  float: right;
}

.row{
  display: block;
  margin: 0;
  min-width: 480px;
  padding: 15px 10px;
  box-shadow:0 0px 4px rgba(0,0,0,0.25);
  border-radius: 2px;
  border-bottom: 1px solid rgba(0,0,0,0.35);
}

.searchTitle{
  display: block;
  padding: 0 5px 15px;
  text-align: left;
  color: #666;
  font-size: 16px;
}

input:focus{
  outline: none;
}

.icon-placed{
  top: 8px;
  left: 10px;
  color: #666;
  border-right: 1px solid #eee;
}

.formContainer{
  font-size: 12px;

}

.leftform{
  border: 1px solid #d7d7d7;
  box-shadow:0 0px 4px rgba(0,0,0,0.25);
  width:78.85416667%;
  float: left;
}

.rightform{
  width:19.64583333%;
  float: right;
}

.booking{
  width: 80%;
  height: 33px;
  /*border-radius: 2px;*/
  border:none;
  background-color: rgba(135, 121, 245, 0.76);
  color: white;
  font-size: 13px;
}

/*.........................train live status results....................................*/

.results{
  left: 20px;
  top: 155px;
  width: 480px;
  position: absolute;
}

.finalresult{
  background: #fff;
  position: absolute;
  overflow-x:hidden;
  overflow-y:hidden;
  box-shadow: 0 0px 4px rgba(0,0,0,0.25);
  border-bottom:1px solid rgba(0,0,0,0.35);

}

.traindetails{

  border-bottom: 1px solid #ccc;
  padding: 5px 15px;
 /* background: rgba(135, 121, 245, 0.23);*/
  background: #b3d1ff;
}

.toppart{
  display: block;
  margin-top: 9px;
  margin-bottom: 9px;
}
.trainno{
  background: white;
  padding: 2px 7px;
  font-size: 24px;
  color: #333;
  border:3px solid #333;
}

.selectday{
  float: right;
  /*margin-top: 9px;*/
  border-radius: 0px;
  background: rgba(135, 121, 245, 0.76);
  padding: 10px 15px 10px 10px;
  font-size: 14px;
  margin-top: -3px;
  color: white;
  border: none;

}

.trainname{
  font-size: 24px;
}

.sourcedest{
  font-size: 15px;
  opacity: 0.7;
}

.traindesc{
  font-size: 12px;
  opacity: 0.7;
}

/*.....................live status.......................*/
.livestatus{
  padding: 10px;
}

.currentsummary{
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.currentposition{
  display: inline-block;
  position: relative;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.currenttime{
  display: inline-block;
  float: right;
  margin-right: 5px;
  border: 2px solid green;
  font-size: 12px;
  padding: 2px 6px;

}

.runningstatus{
  position: relative;
  overflow: scroll;
  overflow-x:auto;
  max-height: 222px;
}

.metre{
  display: inline-block;

  position: absolute;
  height: 16px;
  width: 16px;
  left: 4px;
  background: #FF4500;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;


}

.stationdetails{
  border-left: 3px solid #FF4500;
  padding: 0px 10px 10px 20px;
  margin: 0 0 0 10px;
}

.station-name{
  font-size: 16px;
}

.halt{
  float: right;
  text-align: right;
}
.desc{
  padding: 5px 0 10px 0;
  font-size: 12px;
}

.status{
  font-size: 12px;
  color: red;
  font-weight: 300;
}

.time{
  color: red;
  font-weight: 400;
}

/*.loading {
    width: 100%;
    height: 50px;
    background: url('../images/trainrun.png');
    background-repeat: no-repeat;
}*/

.changebtn{
  width: 100%;
  text-align: center;
  background: rgba(135, 121, 245, 0.76);
  border: none;
}


/*.........................loading button ...............*/

#fountainG{
  position:relative;
  width:174px;
  height:21px;
  margin:auto;
}

.fountainG{
  position:absolute;
  top:0;
  background-color:rgba(135, 121, 245, 0.76);
  width:21px;
  height:21px;
  animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
  animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
  border-radius:14px;
    -o-border-radius:14px;
    -ms-border-radius:14px;
    -webkit-border-radius:14px;
    -moz-border-radius:14px;
}

#fountainG_1{
  left:0;
  animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#fountainG_2{
  left:22px;
  animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#fountainG_3{
  left:43px;
  animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#fountainG_4{
  left:65px;
  animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}

#fountainG_5{
  left:87px;
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#fountainG_6{
  left:109px;
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}

#fountainG_7{
  left:130px;
  animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}

#fountainG_8{
  left:152px;
  animation-delay:1.64s;
    -o-animation-delay:1.64s;
    -ms-animation-delay:1.64s;
    -webkit-animation-delay:1.64s;
    -moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
  0%{
  transform:scale(1);
    background-color:rgb(0,0,0);
  }

  100%{
  transform:scale(.3);
    background-color:rgba(135, 121, 245, 0.76);
  }
}

@-o-keyframes bounce_fountainG{
  0%{
  -o-transform:scale(1);
    background-color:rgb(0,0,0);
  }

  100%{
  -o-transform:scale(.3);
    background-color:rgba(135, 121, 245, 0.76);
  }
}

@-ms-keyframes bounce_fountainG{
  0%{
  -ms-transform:scale(1);
    background-color:rgb(0,0,0);
  }

  100%{
  -ms-transform:scale(.3);
    background-color:rgba(135, 121, 245, 0.76);
  }
}

@-webkit-keyframes bounce_fountainG{
  0%{
  -webkit-transform:scale(1);
    background-color:rgb(0,0,0);
  }

  100%{
  -webkit-transform:scale(.3);
    background-color:rgba(135, 121, 245, 0.76);
  }
}

@-moz-keyframes bounce_fountainG{
  0%{
  -moz-transform:scale(1);
    background-color:rgb(0,0,0);
  }

  100%{
  -moz-transform:scale(.3);
    background-color:rgba(135, 121, 245, 0.76);
  }
}

/*.......................................*/